<!DOCTYPE html>
<html>
  <meta>

  </meta>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <!--<script src="../lib/jquery-3.3.1.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/front.js"></script>

    <link rel="stylesheet" href="../static/css/front.css">
  </head>
  <body onload="frontInit()">
    <h1>Linguistics DB</h1>

    <div id="metrics-div">
      <!-- Radio button for selecting 1/2 features -->
      <button class="btn btn-primary" onclick="handleSingleTrait()">Single trait</button>
      <button class="btn btn-primary" onclick="handleDoubleTrait()">Two traits</button>
      <button class="btn btn-warning" onclick="handleSubmit()">Submit</button>
      <br>
      <br>

      <!-- results display -->
      <div id="results" class="alert alert-info" role="alert">
        Most languages have all of p, t, k
      </div>
      <!-- dropdowns for traits -->
      <!-- currently placeholders -->
      <div id="trait-divs">
        <div id="trait-div-1" class="alert alert-success">
          <select>
            <option>Contains phoneme: </option>
          </select>
          <input type="text" size="5">
        </div>
        <div id="trait-div-2" class="alert alert-success hidden">
          <select>
            <option>Contains phoneme: </option>
          </select>
          <input type="text" size="5">
        </div>
      </div>
    </div>

    <!-- Template for trait selector -->
    <div id="trait-div-template" class="alert alert-info" role="alert">
      <!-- consider making a dropdown from bootstrap -->
      <select id="trait-select-template" onchange="handleTraitSelect(this)">
        <option>Contains consonant: </option>
        <option>Contains consonant class: </option>
        <option>Contains vowel: </option>
        <option>Contains vowel class: </option>
      </select>
      <!-- Consonant Selector -->
      <div id="consonant-selector-template" class="active-trait">Contains <input type="text" size="5" placeholder="1" value="1"> of
        <a class="pbox-selector-uninit btn btn-outline-secondary"
           role="button"
           data-html="true"
           data-toggle="popover"
           title="<b>Select phonemes</b>"
           data-content="Loading...">Select Phonemes...</a>
      </div>
      <div id="consonant-class-selector-template" class="inactive-trait">
        Consonant class selector - coming soon
      </div>
      <div id="vowel-selector-template" class="inactive-trait">
        Vowel selector - coming soon
      </div>
      <div id="vowel-class-selector-template" class="inactive-trait">
        Vowel class selector - coming soon
      </div>
      <!--  -->
    </div>


    <!-- Template for the phoneme selector. -->
    <div id="pbox-template">
      <table>
        <!-- tablebody automatically generated by pbox-gen.py -->
        <tablebody>
          <tr>
            <td><div id="pbox-n-template" class="pbox-label" onclick=handlePboxLabel(this)>n</div></td>
            <td><div id="pbox-t-template" class="pbox-label" onclick=handlePboxLabel(this)>t</div></td>
            <td><div id="pbox-m-template" class="pbox-label" onclick=handlePboxLabel(this)>m</div></td>
            <td><div id="pbox-k-template" class="pbox-label" onclick=handlePboxLabel(this)>k</div></td>
            <td><div id="pbox-j-template" class="pbox-label" onclick=handlePboxLabel(this)>j</div></td>
          </tr>
          <tr>
            <td><div id="pbox-s-template" class="pbox-label" onclick=handlePboxLabel(this)>s</div></td>
            <td><div id="pbox-p-template" class="pbox-label" onclick=handlePboxLabel(this)>p</div></td>
            <td><div id="pbox-l-template" class="pbox-label" onclick=handlePboxLabel(this)>l</div></td>
            <td><div id="pbox-w-template" class="pbox-label" onclick=handlePboxLabel(this)>w</div></td>
            <td><div id="pbox-h-template" class="pbox-label" onclick=handlePboxLabel(this)>h</div></td>
          </tr>
          <tr>
            <td><div id="pbox-b-template" class="pbox-label" onclick=handlePboxLabel(this)>b</div></td>
            <td><div id="pbox-d-template" class="pbox-label" onclick=handlePboxLabel(this)>d</div></td>
            <td><div id="pbox-g-template" class="pbox-label" onclick=handlePboxLabel(this)>g</div></td>
            <td><div id="pbox-ŋ-template" class="pbox-label" onclick=handlePboxLabel(this)>ŋ</div></td>
            <td><div id="pbox-ʃ-template" class="pbox-label" onclick=handlePboxLabel(this)>ʃ</div></td>
          </tr>
          <tr>
            <td><div id="pbox-ʔ-template" class="pbox-label" onclick=handlePboxLabel(this)>ʔ</div></td>
            <td><div id="pbox-tʃ-template" class="pbox-label" onclick=handlePboxLabel(this)>tʃ</div></td>
            <td><div id="pbox-f-template" class="pbox-label" onclick=handlePboxLabel(this)>f</div></td>
            <td><div id="pbox-r-template" class="pbox-label" onclick=handlePboxLabel(this)>r</div></td>
            <td><div id="pbox-ɲ-template" class="pbox-label" onclick=handlePboxLabel(this)>ɲ</div></td>
          </tr>
          <tr>
            <td><div id="pbox-z-template" class="pbox-label" onclick=handlePboxLabel(this)>z</div></td>
            <td><div id="pbox-ts-template" class="pbox-label" onclick=handlePboxLabel(this)>ts</div></td>
            <td><div id="pbox-dʒ-template" class="pbox-label" onclick=handlePboxLabel(this)>dʒ</div></td>
            <td><div id="pbox-x-template" class="pbox-label" onclick=handlePboxLabel(this)>x</div></td>
            <td><div id="pbox-v-template" class="pbox-label" onclick=handlePboxLabel(this)>v</div></td>
          </tr>
        </tablebody>
      </table>
    </div>
    <!--  -->

  </body>

  <!-- Hide popovers when clicking body -->
  <script>
  $(document).ready(function(){
      $('[data-toggle="popover"]').popover({ html : true, container: 'body'});
  });
  $('body').on('click', function (e) {
      $('[data-toggle="popover"]').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
              $(this).popover('hide');
          }
      });
  });
  $('body').on('hidden.bs.popover', function (e) {
      $(e.target).data("bs.popover").inState = { click: false, hover: false, focus: false }
  });
  </script>
</html>
