/* Need to get a css preprocessor like SASS*/
html, body {
  min-height: 100%;
  height: 100%;
}

body {
  padding: 20px;
  background-color: #eee;
}

.hidden {
  display: none;
}

/* Hide the selector popover templates at the bottom of the page */
#cbox-template {
  display: none;
}

#vbox-template {
  display: none;
}

#ccbox-template {
  display: none;
}

#vcbox-template {
  display: none;
}

#trait-div-template {
   display: none;
}
/* ----------------------------------------------------------- */

.inactive-trait {
  display: none;
}

.active-trait {

}

.trait-selector {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 4px;
  border-radius: 5px;
}

/* Used to select the mode of equality check (>=, <, etc) */
.mode-selector {
  padding: 3px;
}

/* Used to select natural classes of phonemes */
.class-selector {
  padding: 3px;
}

.pbox-label {
  display: table-cell;
  width: 30px;
  height: 30px;
  background-color: #d0d0d0;
  border: 1px solid #909090;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.pbox-label:hover {
  background-color: #c0c0c0;
  border: 1px solid #909090;
}

.pbox-label-empty {
  display: table-cell;
  margin: 0px;
}

.cbox-selector-init {
  border-bottom: 3px solid;
}

.vbox-selector-init {
  border-bottom: 3px solid;
}

.ccbox-selector-init {
  border-bottom: 3px solid;
}

.vcbox-selector-init {
  border-bottom: 3px solid;
}

.pbox-label.pbox-label-selected {
  background-color: #b0b0b0;
}

span[data-toggle=tooltip] {
  border-bottom: 1px dotted #000;
}

/* Phoneme natural class selectors */
.clbox-label {
  display: table-cell;
  background-color: #d0d0d0;
  border: 1px solid #909090;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 3px;
}

.clbox-label:hover {
  background-color: #c0c0c0;
  border: 1px solid #909090;
}

.clbox-label-empty {
  display: table-cell;
  margin: 0px;
}

.clbox-label.clbox-label-selected {
  background-color: #b0b0b0;
}
/*  */
