/* Need to get a css preprocessor like SASS*/

.hidden {
  display: none;
}

body {
  padding: 20px;
  background-color: #eee;
}

/* Checkboxes in the phoneme selector */
.pbox-check {
  display: none;
}

.pbox-label {
  display: table-cell;
  width: 40px;
  height: 40px;
  background-color: #c0c0c0;
  border: 1px solid #909090;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}
